@layer base, components, utilities;

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
    border-width: 0;
    margin: -1px;
  }

  .full-bleed {
    width: 100vw;
    margin-inline: calc(50% - 50vw);
  }
}
