.code {
  composes: website-type-code from global;

  padding: var(--website-space-4);
  border: 1px solid var(--website-color-border);
  border-radius: var(--website-radius-content);
  overflow-x: auto;
  background-color: var(--website-color-background);
  color: var(--website-color-foreground);
}

.line {
  display: table-row;
}
.lineNumber {
  display: table-cell;
  user-select: none;
  text-align: right;
  color: var(--website-color-subtle-foreground);
}
.lineContent {
  display: table-cell;
  padding-left: var(--website-space-4);
}
.copy {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
}
.copyButton {
  display: flex;
  gap: var(--website-space-1);
}
