.root {
  min-width: 0;
  max-width: none;
}

.content {
  margin-inline: auto;
}

.plain {
  max-width: none;
}

.withGutter {
  width: min(100% - (2 * var(--website-gutter)), var(--website-container-site));
  margin-inline: auto;
}

.withGutter.content {
  max-width: 65ch;
}

.embeddedBanner {
  grid-column-start: 2;
  margin-bottom: var(--website-space-4);
}

.embeddedMedia {
  grid-column: span 3 / span 3;
  grid-column-start: 1;
}

.embeddedCode {
  grid-column-start: 2;
}

.embeddedCTA {
  grid-column: 1 / -1;
  min-width: 0;
}

.mediaImage {
  margin: 0;
}

.mediaCaption {
  max-width: 48rem;
  margin-inline: auto;
}

@media (width >= 40rem) {
  .withGutter.plain {
    max-width: 40rem;
  }
}

@media (width >= 48rem) {
  .withGutter.plain {
    max-width: 48rem;
  }
}

@media (width >= 64rem) {
  .withGutter.plain {
    max-width: 64rem;
  }
}

@media (width >= 80rem) {
  .withGutter.plain {
    max-width: 80rem;
  }
}

@media (width >= 86rem) {
  .withGutter.plain {
    max-width: 86rem;
  }
}
